/**
 * Les différentes mixins de l'application
 * Créé par Adrien Quijo
 *
 * V 1.0.0
 */

// MEDIA QUERIES 
@mixin for-size($media) {
    @if $media ==mobile {
        @media (max-width: 479px) {
            @content;
        }
    }

    @else if $media ==tablet {
        @media (max-width: 768px) {
            @content;
        }
    }

    @else if $media ==desktop {
        @media (max-width: 1024px) {
            @content;
        }
    }
}

// DEFINE MAX WIDTH CONTENT FOR THE MAIN CONTAINER
@mixin apply-width-crop($max-width-content, $width-crop) {
    width: min($max-width-content, calc(100% - ($width-crop * 2)));
}

// PROPERTY CREATOR
@mixin property($variable: variable, $syntax: "<number>", $inherits: true,
    $initial-value: 0) {
    @property --#{$variable} {
        syntax: $syntax;
        inherits: $inherits;
        initial-value: $initial-value;
    }
}