@use 'mixins' as *;

/* BANNER */
.splash-header {
    border-radius: 20px;
    overflow: hidden;
    max-height: 223px;
    height: 100%;
    position: relative;
    // filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    // filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    h1 {
        inset: 0;
        position: absolute;
        text-align: center;
        align-content: center;
        font-weight: var(--font-weight-large);
        -webkit-backdrop-filter: brightness(60%);
        backdrop-filter: brightness(60%);
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    }

    @include for-size(tablet) {
        min-height: 110px;

        h1 {
            font-size: 24px;
        }
    }
}