@use 'mixins' as *;

/* BANNER */
.splash-header {
    border-radius: 20px;
    overflow: hidden;
    max-height: 223px;
    height: 100%;
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    >div {
        position: absolute;
        inset: 0;
        -webkit-backdrop-filter: brightness(60%);
        backdrop-filter: brightness(60%);
        align-content: center;
        text-align: center;

        h1 {
            color: white;
            font-weight: var(--font-weight-large);
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.6));
        }
    }

    @include for-size(tablet) {
        min-height: 110px;

        h1 {
            font-size: 24px;
            text-wrap: balance;
            text-align: initial;
            padding-left: 15px;
            line-height: 23px;
        }
    }
}