@use './mixins' as *;

/* Dropdown Component */
.dropdowns-container {
    display: flex;
    grid-template-columns: auto;
    gap: 40px;
    width: 80%;
    place-self: center;
    flex-direction: column;
    height: 100%;

    /* BUTTON */
    .dropdown {
        overflow: hidden;
        transition: max-height 3s ease-in;

        &_container {
            width: 100%;
            cursor: pointer;
            z-index: 1;
            position: relative;
            display: grid;
            grid-template-columns: 1fr max-content;
            background: var(--main-font-color);
            padding: 10px 20px;
            border-radius: 10px;
            transition: transform 0.3s ease;

            &.open.closed {
                .dropdown__btn {
                    transform: rotate(180deg);
                }
            }
        }

        &__title {
            grid-column: 1;
            grid-row: 1;
            font-size: var(--fs-medium);
            font-weight: var(--font-weight-large);
        }

        &__btn {
            place-self: center;
            max-height: 15px;
            grid-column: 2;
            grid-row: 1;
            transition: transform 0.3s ease;
        }

        /* PARAGRAPH CONTAINER - 
            It will manipulate the animation 
        */
        span {
            position: relative;
            display: block;
            overflow: hidden;
            width: 100%;
            top: -10px;
            transition: transform 0.3s ease, opacity 0.5s ease, max-height 0.3s ease;

            &.closed {
                transform: translate3d(0px, -100%, 0);
                max-height: 0;
                opacity: 0;

                @starting-style {
                    opacity: 1;
                    transform: translate3d(0px, 0, 0);
                }
            }

            &.open {
                opacity: 1;
                max-height: 500px;

                @starting-style {
                    opacity: 0;
                    transform: translate3d(0px, -50px, 0);
                }
            }
        }

        &__text {
            grid-column: 1/2;
            grid-row: 2;
            background: var(--card-bg-color);
            color: black;
            padding: 15px 25px 0 25px;
            opacity: 1;
            transition: opacity 0.3s ease, transform 0.3s ease;
            transform: translate3d(0, 0, 0);
            font-weight: 400;

            &:first-child {
                padding-top: 25px
            }

            &:last-child {
                padding-bottom: 15px;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            @starting-style {
                opacity: 0;
                transform: translate3d(0px, -70px, 0);
            }
        }
    }

    @include for-size(tablet) {
        width: 100%;

        .dropdown {
            &_container {
                padding: 10px 20px;
            }

            &__title {
                font-size: var(--fs-regular);
            }
        }
    }
}

@keyframes clipUp {
    from {
        clip-path: inset(0 0 100% 0)
    }

    to {
        clip-path: inset(0);
    }
}

@keyframes clipDown {
    from {
        clip-path: inset(0);
    }

    to {
        clip-path: inset(0 0 100% 0);
    }
}