@use "./mixins" as *;

/* Footer */
footer {
    justify-content: center;
    display: block;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    align-self: end;
    height: max-content;

    a {
        cursor: pointer;
        display: block;
        padding: 20px;
    }

    /* TABLET AND MOBILE */
    @include for-size(tablet) {
        min-height: 209px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        a {
            padding: 10px;
        }

        svg {
            width: 150px;
            height: 50px;
        }

        p {
            max-width: 18ch;
            justify-self: center;
        }
    }
}