/**
 * Fichier CSS Principal
 * Créé par Adrien Quijo
 *
 * V 1.0.0
 */

@use './mixins' as *;

:root {
    font-family: Montserrat, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FFFFFF;
    --card-bg-color: #F6F6F6;
    --main-font-color: #FF6060;

    --grid-gap: 30px;

    --fs-big: 2.5em;
    --fs-medium: 20px;
    --fs-regular: 18px;
    --fs-small: .7em;
    --fs-very-small: 12px;

    --font-weight-large: 700;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#root {
    display: grid;
    gap: var(--grid-gap);
    grid-template-rows: max-content auto max-content;
    min-height: 100vh;
    overflow: hidden;

    @include for-size(tablet) {
        --grid-gap: 15px;
    }
}

a {
    font-weight: 500;
}

a:hover {
    color: #535bf2;
}

h1 {
    font-size: var(--fs-big);
}

/* Generic Content */
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Main Content */
.main-container {
    $max-width-content: 1440px;
    $width-crop: 45px;
    $width-crop-tablet: 20px;

    @include apply-width-crop($max-width-content, $width-crop);

    margin-inline: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-rows: max-content auto;
    gap: var(--grid-gap);

    @include for-size(tablet) {
        @include apply-width-crop($max-width-content, $width-crop-tablet);
    }
}

main {
    display: grid;
}