@use './mixins' as *;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #FFFFFF;
    --card-bg-color: #F6F6F6;
    --main-font-color: #FF6060;

    --grid-gap: 50px;

    --fs-big: 36px;
    --fs-medium: 20px;
    --fs-regular: 18px;
    --fs-small: 14px;
    --fs-very-small: 12px;

    --font-weight-large: 700;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#root {
    display: grid;
    gap: var(--grid-gap);
    min-height: 100vh;
    grid-template-rows: min-content 1fr min-content;
    overflow: hidden;
}

/* Generic Content */
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Main Content */
.main-container {
    $max-width-content: 1440px;
    $width-crop: 45px;
    $width-crop-tablet: 20px;

    @include apply-width-crop($max-width-content, $width-crop);

    @include for-size(tablet) {
        @include apply-width-crop($max-width-content, $width-crop-tablet);
    }

    // width: min($max-width-content, calc(100% - ($width-crop * 2)));
    margin-inline: auto;
    display: grid;
    grid-template-rows: min-content;
    gap: var(--grid-gap);

    // height: max-content;
    // margin-bottom: var(--grid-gap);
}

main {
    display: grid;
    gap: var(--grid-gap);
}