@use 'mixins' as *;

/* Navbar Header */
nav {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    a,
    img,
    svg {
        color: #000000;
        cursor: pointer;
        height: 100%;
    }

    .header-menu__logo {
        height: inherit;
        width: inherit;

        path {
            fill: var(--main-font-color);
        }
    }

    ul {
        display: flex;
        gap: 50px;
        align-items: center;
        min-height: 68px;

        a:is(.active, :focus, :active, :hover) {
            border-bottom: 1px solid grey;
        }
    }

    @include for-size(mobile) {
        svg {
            max-height: 50px;
        }

        a {
            font-size: var(--fs-very-small);
            align-content: center;
            text-transform: uppercase;
        }

        ul {
            gap: 20px;
        }
    }
}