/**
 * Gestion des stars componants
 * Créé par Adrien Quijo
 *
 * V 1.0.0
 */

/* Stars Componant */
.stars_container {
    display: flex;
    gap: 10px;

    .star {
        &.active path {
            fill: var(--main-font-color);
        }
    }
}